/* this part is constant for all the pages since it the basic layout for the site */
body {
    /* https://www.artstation.com/artwork/0Rw54 src 'EREN ARIK' */
    background-image: url("images/eren-arik-g1.png"); /* to give a certain flow to background */
    /* the repetition of image is cancelled */
    background-repeat: no-repeat;
    background-color: black;

    margin: 0;
}
/* menu is the container of menus */
#menu {
    list-style: none;
    z-index: 1;
    position: sticky;
    top: 0;
    right: 0;
    height: 50px;
    /* will keep it at least a bit responsive until it's impossible and menus will be linear */
    background-color: rgb(5, 0, 36);
    padding: 10px;
}
/* contains the individual menus */
.menus {
    /* required for the animation */
    margin-top: 0;
    height: 30px;
    width: 100px;
    background-color: transparent;
    text-align: center;
    padding-top: 5px;
    /* creating the same glowing effect */
    box-shadow: 0px 0px 1px 1px rgb(206, 255, 255),
        0px 0px 3px 3px  #0ff,
        0 0 1px 1px rgb(206, 255, 255)inset,
        0 0px 3px 3px #0ff inset;
    border-style: solid;
    border-color: azure;
}
#menu ul{
    float: right;
    display: flex;
    list-style: none;
}
.menus:hover{
    /* small animation on hover */
    text-shadow: none;
    transition-duration: 0.5s;
    background-color: rgb(139, 241, 255);
}

a {
    margin-left: 20px;
    color:rgb(84, 0, 95);
}

/* creating a bounce animation for whenever needed : ) */
@keyframes bounce {
    0%{left: 0; top:0;}
    25%{left: 0; top: -10px;}
    50%{left: 0; top : 0;}
    75%{left: 0; top : -5px;}
    100%{left: 0; top : 0;}
}
/* to display the page that we're in through menu and added bounce on it */
#curr {
    position: relative;
    background-color: rgb(86, 131, 214);
    box-shadow: 0px 0px 3px 3px rgb(206, 255, 255),
        0px 0px 5px 3px  #0ff,
        0 0 3px 3px rgb(206, 255, 255)inset,
        0 0px 5px 3px #0ff inset;
        animation-name: bounce;
        animation-duration: 1s;
}
.glowText{
    /* making text glow as well */
    text-shadow: 0 0 3px #fff,
        0 0 5px #ffffff,
        0 0 5px #00e6e6, 0 0 8px #00e6d3,
        0 0 10px #00dee6, 0 0 14px #00cbe6,
        0 0 18px #00d7e6;
}
@keyframes float {
    0%{ right:0; top: 0;}
    20%{ right: 2vw; }
    40%{ right: 2vw; top: 2vw;}
    60%{ right: -2vw; top: 0.5vw; }
    80%{ right: 0; top: 0.2;}
    100% { right:0; top: 0; }
}

.glowBorder{
    box-shadow: 0px 0px 1px 2px rgb(206, 255, 255),
        0px 0px 5px 3px  #0ff,
        0 0 1px 1px #ceffff inset,
        0 0px 5px 3px #0ff inset;
    background-color: #050024af;
}

/*/////////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
/*///////////////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
/*////////////////////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
/*/////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
#main {
    margin-left: 5vw;
    z-index: -1;
    padding: 20px;
    text-align: center;
    max-width: 90%;
    width: max-content;
    background-image:radial-gradient( #0634ff00 75%, #13bfd680);
    position: relative;
    animation-name: float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.floaters{
    font-size: 80px;
    animation-name: float;
    position: relative;
    animation-duration: 10s;
    animation-delay: 2s;
}
p {
    transition-duration:2s;
}

/* ///////////////////////////////////////Contact.html///////////////////////////////////////////////////////////////////////////////////////////  */
/* ////////////////////////////Contact.html///////////////////////////////////////////////////////////////////////////////////////////  */
/* ///////////////////////////////////////////////Contact.html///////////////////////////////////////////////////////////////////////////////////////////  */
/* designing the overall form */
.fieldset{
    float: left;
    margin-left: 5vw;
    height: max-content;
    max-width: 40%;
    width: max-content;
    /* for animation */
    position: relative;
    /* animation declared top */
    animation-name: float;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    padding: 20px;
    border: none;
}

form{
    /* aligning all the text and inputs so it looks good ") */
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: black;
}

input[type = text]{
    /* aligning the inputs with text */
    align-self: center;
    text-align: center;
    margin: 5px;
    height: 50px;
    width: max-content;
    color: inherit;
    padding: 0;
    text-shadow: 0 0 3px #fff,
        0 0 5px rgb(255, 255, 255),
        0 0 5px #00e6e6, 0 0 8px #00e6d3,
        0 0 10px #00dee6, 0 0 14px #00cbe6,
        0 0 18px #00d7e6;
    font-size: 20px;
    background-color: #00cbe600;
    border: none;
    border-bottom: #808080b6 solid;
    border-bottom-width: 1px;
}

input:focus, textarea:focus{
    color: inherit;
    text-shadow: 0 0 3px #fff,
        0 0 5px rgb(255, 255, 255),
        0 0 5px #e60000, 0 0 8px #e60000,
        0 0 10px #e60000, 0 0 14px #e60000,
        0 0 18px #e60000;
    outline: none;
    text-align: center;
    /* box-shadow: 0px 0px 1px 1px rgb(206, 255, 255),
        0px 0px 3px 3px  #0ff,
        0 0 1px 1px rgb(206, 255, 255)inset,
        0 0px 3px 3px #0ff inset; */
    box-shadow: 0 -2px 3px 2px red inset;
    background-color: #f3353500;
    transition-duration: 0.5s;
}
textarea{
    color: inherit;
    margin-left: 10px;
    text-align: center;
    margin: 5px;
    background-color: #1a065a7e;
    font-size: 20px;
    height: max-content;
    width: 95%;
    resize: vertical;
    min-height: 30px;
}

button{
    margin-top: 3px;
    align-self: center;
    background-color: #2a36da;
    border: none;
    width: 40%;
    height: 40px;
    position: relative;
}

button:hover{
    transform: translate(0, -4px);
    background-color: #7e95f8;
    border-style: solid;
    border-color: white;
    box-shadow: 0 2px 3px 0px #2a36da,
         0 5px 0 0 #90d2e6,
        0 5px 0 1px #184a79,
        0 5px 0 2px #090b29;
    transition-duration: 1s;
}
#textBox{
    padding: 20px;
    position: relative;
    width: 50vw;
    height: max-content;
    float: right;
    animation-name: float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-right: 5vw;
    color: white;
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////only portfolio  ///////////////////////////////////////////////////*/
#grid-container{
    position: relative;
    right: 0vw;
    animation-name: float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    width: max-content;
    max-width: 90%;
    left: 5vw;
    padding: 10px;
}
img{
    /* https://www.geeksforgeeks.org/how-to-auto-resize-an-image-to-fit-a-div-container-using-css/#:~:text=To%20auto%2Dresize%20an%20image%20or%20a%20video%20to%20fit,resize%20and%20fit%20the%20container. */
    object-fit:contain;
    height: 100%;
    width: 100%;
}
.grow{
    background-color: #044d6ea8;
    padding: 0;
    height: 300px;
    position: relative;
    width: 40vw;
    margin: 10px;
}
.hover{
    float: right;
    object-fit: cover;
}
.grow:hover{
    z-index: 5;
    height: auto;
    max-width: 70vw;
    width: 700px;
    box-shadow: 0px 0px 1px 2px rgb(255, 206, 206),
        0px 0px 5px 3px  #ff0000,
        0 0 1px 1px #ffcece inset,
        0 0px 5px 3px #ff0000 inset;
    transition-duration: 1s;
}
.textPic{
    padding: 20%;
    resize: vertical;
}
/*//////////////////////////////////////     CV section                /////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////       CV section            /////////////////////////////////////////////////////////////*/
/* ////////////////////////////              CV section                 / ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////             CV section                   /////////////////////////////////////////////////////////////////////////////////////////////////*/
#maindiv{
    height: max-content;
    max-width: 90vw;
    background-color: #060614;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 2vw;
    padding-bottom: 1vw;
    color: rgb(150, 150, 150);
}
#official_image{
    width: 200px;
    height: 200px;
}
header{
    display: flex;
    height: 205px;
    width: 100%;
    background-color: #242424;
    padding-bottom: 0;
    padding-top: 5px;
    border: solid #d4d4d4;
}
header h1{
    font-size: 50px;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-color:#969696;
    align-self:center;
}
#mainbody{
    display: grid;
    font-size: 20px;
    grid-template-columns: auto auto;
    width: 95%;
    background-color: #aaaaaa;
    color: #ffffff;
}
.headers{
    Color: black;
}
#mainbody li{
    border-left: solid #cacaca;
}
li h1{
    width: max-content;
    border-bottom: solid #cacaca;
}
.contents{
    margin-left: 2vw;
}
header a{
    display: block;
    font-size: 20px;
    color:#969696

}