/* this part is constant for all the pages since it the basic layout for the site */
/* https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_cols */

body {
    /* https://www.artstation.com/artwork/0Rw54 src 'EREN ARIK' */
    background-color: rgb(20, 20, 20);
    margin: 0;
}

/* Grid layout */
.layout{
    display: grid;
    grid-template-areas: 'header header';
    grid-template-columns: auto 80%;
    column-gap: 5px;
    row-gap: 5px;
}

header{
    grid-area: header;
    color:rgb(150, 150, 150);
    border-bottom: solid #333333;
    background-color: #222222;
    height: 80px;
    text-align: center;
}

/* menu is the container of menus */

#menu {
    list-style: none;
    height: 80h;
    /* top: 0;
    right: 0; */
    /* will keep it at least a bit responsive until it's impossible and menus will be linear */
    background-color: rgb(26, 26, 27);
    padding: 0 5px;
}
/* hamburger section */
#hamburger{
    width: 30px;
    height: 30px;
    display: none;
    padding-top: 3px;
}
#lines{
    width: 25px;
    margin: 3px;
    height: 4px;
    background-color: white;
}

/* contains the individual menus */

.menus {
    /* required for the animation */
    margin-top: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
    border-style: solid;
    border-color: rgb(112, 112, 112);
}

#menu ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

.menus:hover{
    /* small animation on hover */
    transition-duration: 0.5s;
    background-color: rgb(46, 46, 46);
}

a {
    margin-left: 20px;
    color:rgb(175, 175, 175);
}

/* creating a bounce animation for whenever needed : ) */
@keyframes bounce {
    0%{top:0;}
    25%{top: -10px;}
    50%{top : 0;}
    75%{top : -5px;}
    100%{top : 0;}
}


/* to display the page that we're in through menu and added bounce on it */

#curr {
    position: relative;
    background-color: rgb(128, 128, 128);
    animation-name: bounce;
    animation-duration: 1s;
}


.glowText{
    /* making text glow as well */
    text-shadow: 0 0 3px #fff,
        0 0 5px #ffffff,
        0 0 5px #00e6e6, 0 0 8px #00e6d3,
        0 0 10px #00dee6, 0 0 14px #00cbe6,
        0 0 18px #00d7e6;
}

@keyframes float {
    0%{ right:0; top: 0;}
    20%{ right: 2vw; }
    40%{ right: 2vw; top: 2vw;}
    60%{ right: -2vw; top: 0.5vw; }
    80%{ right: 0; top: 0.2;}
    100% { right:0; top: 0; }
}

#main {
    padding: 20px;
    text-align: center;
    /* width: max-content; */
    background-color: rgb(15, 15, 15);
    position: relative;
    animation-duration: 10s;
    color:rgb(209, 214, 214)
}

/*/////////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
/*///////////////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
/*////////////////////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
/*/////////////////////// index.html and maybe others as well if i decide to use main //////////////////////////////////////*/
.floaters{
    font-size: 80px;
    animation-name: float;
    position: relative;
    animation-duration: 10s;
    animation-delay: 2s;
}

p {
    transition-duration:2s;
}

/* ///////////////////////////////////////Contact.html///////////////////////////////////////////////////////////////////////////////////////////  */
/* ////////////////////////////Contact.html///////////////////////////////////////////////////////////////////////////////////////////  */
/* ///////////////////////////////////////////////Contact.html///////////////////////////////////////////////////////////////////////////////////////////  */
/* designing the overall form */
.fieldset{
    width: max-content;
    display: flex;
    flex-direction: column;
    color: rgb(172, 172, 172);
    float: left;
    height: max-content;
    width: 40%;
    background-color: rgb(22, 22, 22);
    
}

form{
    /* aligning all the text and inputs so it looks good ") */
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    /* for animation */
    position: relative;
    /* animation declared top */
    background-color: rgb(46, 46, 46);
}

#form{
    /* aligning all the text and inputs so it looks good ") */
    /* width: max-content; */
    display: flex;
    padding: 5px 0;
    flex-wrap: wrap;
    width: 100%;
    /* for animation */
    position: relative;
    /* animation declared top */
    background-color: rgb(46, 46, 46);
}

input[type = text]{
    /* aligning the inputs with text */
    align-self: center;
    margin: 5px;
    height: 50px;
    width: max-content;
    color: inherit;
    color: #ffffff;
    padding: 0;
    font-size: 20px;
    background-color: #92929200;
    border: none;
    border-bottom: #808080b6 solid;
    border-bottom-width: 1px;
}

input:focus, textarea:focus{
    background-color: #ffffff;
    color:rgb(209, 214, 214);
    outline: none;
    text-align: center;
    box-shadow: 0 -2px 3px 2px rgb(138, 138, 138) inset;
    background-color: #f3353500;
    transition-duration: 0.5s;
}

textarea{
    color: inherit;
    margin-left: 10px;
    text-align: center;
    margin: 5px;
    background-color: #4444447e;
    font-size: 20px;
    height: max-content;
    width: 80%;
    resize: vertical;
    min-height: 30px;
}

button{
    margin-top: 3px;
    align-self: center;
    background-color: #626262;
    border: none;
    width: 40%;
    height: 40px;
    position: relative;
}

button:hover{
    transform: translate(0, -4px);
    background-color: #818181;
    border-style: solid;
    border-color: white;
    box-shadow: 0 2px 3px 0px #080808,
         0 5px 0 0 #131313,
        0 5px 0 1px #3b3b3b,
        0 5px 0 2px #090b29;
    transition-duration: 1s;
}

#textBox{
    padding: 20px;
    position: relative;
    color: white;
    text-align: center;
    width: 60%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////only portfolio  ///////////////////////////////////////////////////*/
#portfolio{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

img{
    /* https://www.geeksforgeeks.org/how-to-auto-resize-an-image-to-fit-a-div-container-using-css/#:~:text=To%20auto%2Dresize%20an%20image%20or%20a%20video%20to%20fit,resize%20and%20fit%20the%20container. */
    object-fit:scale-down;
    height: 100%;
    width: 100%;
}

.grow{
    background-color: #044d6ea8;
    padding: 0;
    height: 300px;
    width: 45%;
    margin-bottom: 30px;
    margin: 2%;
    float: left;
}

.hover{
    object-fit: cover;
}

.grow:hover{
    z-index: 1;
    height: auto;
    transform: scale(1);
    box-shadow: 0px 0px 1px 2px rgb(255, 206, 206),
        0px 0px 5px 3px  #ff0000,
        0 0 1px 1px #ffcece inset,
        0 0px 5px 3px #ff0000 inset;
    transition-duration: 0.5s;
}

.textPic{
    padding-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    resize: vertical;
    text-align: center;
    font-size: 40px;
}


/*//////////////////////////////////////     CV section                /////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////       CV section            /////////////////////////////////////////////////////////////*/
/* ////////////////////////////              CV section                 / ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////             CV section                   /////////////////////////////////////////////////////////////////////////////////////////////////*/
#official_image{
    width: 200px;
    height: 200px;
}

.cvhead{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #242424;
    padding-bottom: 0;
    padding-top: 5px;
    border: solid #8a8a8a;
}

.cvhead h1{
    font-size: 50px;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-color:#969696;
}

#cvbody{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    grid-template-columns: auto auto;
    width: 100%;
    background-color: #1b1b1b;
    color: #c3c2c2;
}

.headers{
    Color: black;
}

#cvbody, ul{
    padding: 0;
    width: 100%;
}

.topics{
    margin:  20px;
    width: 100%;
}

li h1{
    border-bottom: solid #e4e4e4;
    max-width: 100%;
}

.contents{
    border: solid #e4e4e4;
    border-left: solid #cacaca;
}

header a{
    display: block;
    font-size: 20px;
    color:#969696
}

#links li{
    list-style: circle inside none;
    text-align: center;
    align-self: center;
}

/*//////////////////////////////////////     Site Report                /////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////       Site Report              /////////////////////////////////////////////////////////////*/
/* ////////////////////////////              Site Report                   / ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////           Site Report                    /////////////////////////////////////////////////////////////////////////////////////////////////*/




/* ///////////////////////////      /* Media Querries ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////      /* Media Querries ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////      /* Media Querries ////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and ( max-width: 500px ){
    
    header{
        grid-area: 1/ span 2;
        z-index: 2;
    }

    #menu{
        grid-area: 2/ span 2/ 2 / span 1;
    }
    
    #main{
        grid-area: 3/ span 2 / 3/ span 1;
    }

    #drop{
        transform-origin: 0% 0%;
        display: none;
        z-index: 1;
        margin: 0;
        background-color: #1b1b1b;
        
    }
  
    #hamburger{
        margin-bottom: 0;
        display:block;
        z-index: 0;
        position: relative;
        transform: translate(0%, 100%);
        background-color: rgb(236, 236, 236);
    }

    #hamCon input{
        z-index: 1;
        display:block;
        width: 30px;
        height: 30px;
        margin: 0;
        margin-top: 5px;
        opacity: 1;
    }

    #hamCon input:checked ~ #drop{
        display: block;
        animation-name: slideDown;
        animation-duration: 0.5s;
    }
  
    #hamCon input:checked ~ #hamburger{
        border: solid #6a6a6b;
        transition-duration: 1s;
    }
    
    @keyframes slideDown {
        from{transform: scale(0);}
        to{
            transform: scale(1);
        }
    }
  
    .topics{
        width: 100%;
    }
    .grow{
        width: 100%;
        height: auto;
    }
    .grow:hover{
        width: 100%;
        box-shadow: none;
        transform: none;
    }
    .hover{
        object-fit: contain;
    }
    .textPic{
        font-size: 20px;
    }
  
    #main{
        padding: 2px;
    }
  
    .cvhead{
        border-left: none;
        border-right: none;
    }
  
    #cvbody{
        margin: 0;
        width: 100%;
    }
}
