/* this part is constant for all the pages since it the basic layout for the site */
body {
    /* https://www.artstation.com/artwork/0Rw54 src 'EREN ARIK' */
    background-image: url("images/eren-arik-g1.png"); /* to give a certain flow to background */
    /* the repetition of image is cancelled */
    background-repeat: no-repeat;
    /* gives a constant background all over the page instead of just the amount with elements */
    background-size: auto;
    background-attachment: fixed;
    padding: 10px;
    margin: 0;
    padding-left: 20px;
    padding-right: 40px;
}
/* menu is the container of menus */
#menu {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    margin-right: 10px;
    /* positioning the actual menus
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 15px; */
    /* will keep it at least a bit responsive until it's impossible and menus will be linear */
    background-color: rgb(5, 0, 36);
    /* creating a glowing neon effect with box shadow manupulation */
    padding: 10px;
}
/* contains the individual menus */
.menus {
    /* required for the animation */
    margin-top: 0;
    position: relative;
    height: 30px;
    width: 100px;
    background-color: transparent;
    text-align: center;
    padding-top: 5px;
    /* creating the same glowing effect */
    box-shadow: 0px 0px 1px 1px rgb(206, 255, 255),
        0px 0px 3px 3px  #0ff,
        0 0 1px 1px rgb(206, 255, 255)inset,
        0 0px 3px 3px #0ff inset;
    border-style: solid;
    border-color: azure;
}
.menus:hover{
    /* small animation on hover */
    text-shadow: none;
    transition-duration: 0.5s;
    background-color: rgb(139, 241, 255);
}

a {
    margin-left: 20px;
    color:rgb(84, 0, 95);
}

footer{
    clear: both;
    width: 100%;
}
/* creating a bounce animation for whenever needed : ) */
@keyframes bounce {
    0%{left: 0; top:0;}
    25%{left: 0; top: -10px;}
    50%{left: 0; top : 0;}
    75%{left: 0; top : -5px;}
    100%{left: 0; top : 0;}
}
/* to display the page that we're in through menu and added bounce on it */
#curr {
    background-color: rgb(86, 131, 214);
    box-shadow: 0px 0px 3px 3px rgb(206, 255, 255),
        0px 0px 5px 3px  #0ff,
        0 0 3px 3px rgb(206, 255, 255)inset,
        0 0px 5px 3px #0ff inset;
        animation-name: bounce;
        animation-duration: 1s;
}
.glowText{
    /* making text glow as well */
    text-shadow: 0 0 3px #fff,
        0 0 5px #ffffff,
        0 0 5px #00e6e6, 0 0 8px #00e6d3,
        0 0 10px #00dee6, 0 0 14px #00cbe6,
        0 0 18px #00d7e6;
}
@keyframes float {
    0%{ right:0; top: 0;}
    20%{ right: 20px; }
    40%{ right: 2px; top: 20px;}
    60%{ right: -2px; top: 5px; }
    80%{ right: 0; top: 2px;}
    100% { right:0; top: 0; }
}

.glowBorder{
    box-shadow: 0px 0px 1px 2px rgb(206, 255, 255),
        0px 0px 5px 3px  #0ff,
        0 0 1px 1px #ceffff inset,
        0 0px 5px 3px #0ff inset;
    animation-name: float;
    background-color: #050024af;
}

/* index.html and maybe others as well if i decide to use main */
#main {
    z-index: -1;
    padding: 20px;
    text-align: center;
    width: 90%;
    background-image:radial-gradient( #0634ff00 75%, #13bfd680);
    position: relative;
    margin: 15px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Contact.html  */
/* designing the overall form */
.fieldset{
    float: right;
    height: max-content;
    width: 40%;
    /* for animation */
    position: relative;
    /* animation declared top */
    animation-name: float;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    padding: 20px;
    border: none;
}

form{
    /* aligning all the text and inputs so it looks good ") */
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: black;
}

input[type = text]{
    /* aligning the inputs with text */
    align-self: center;
    text-align: center;
    margin: 5px;
    height: 50px;
    width: max-content;
    color: inherit;
    padding: 0;
    text-shadow: 0 0 3px #fff,
        0 0 5px rgb(255, 255, 255),
        0 0 5px #00e6e6, 0 0 8px #00e6d3,
        0 0 10px #00dee6, 0 0 14px #00cbe6,
        0 0 18px #00d7e6;
    font-size: 20px;
    background-color: #00cbe600;
    border: none;
    border-bottom: rgba(128, 128, 128, 0.712) solid;
    border-bottom-width: 1px;
}

input:focus, textarea:focus{
    color: inherit;
    text-shadow: 0 0 3px #fff,
        0 0 5px rgb(255, 255, 255),
        0 0 5px #e60000, 0 0 8px #e60000,
        0 0 10px #e60000, 0 0 14px #e60000,
        0 0 18px #e60000;
    outline: none;
    text-align: center;
    /* box-shadow: 0px 0px 1px 1px rgb(206, 255, 255),
        0px 0px 3px 3px  #0ff,
        0 0 1px 1px rgb(206, 255, 255)inset,
        0 0px 3px 3px #0ff inset; */
    box-shadow: 0 -2px 3px 2px red inset;
    background-color: #f3353500;
    transition-duration: 0.5s;
}
textarea{
    color: inherit;
    margin-left: 10px;
    text-align: center;
    margin: 5px;
    background-color: rgba(26, 6, 90, 0.493);
    font-size: 20px;
    height: 80px;
    width: 95%;
}

button{
    margin-top: 3px;
    align-self: center;
    background-color: #2a36da;
    border: none;
    width: 40%;
    height: 40px;
    position: relative;
}

button:hover{
    transform: translate(0, -4px);
    background-color: #7e95f8;
    border-style: solid;
    border-color: white;
    box-shadow: 0 2px 3px 0px #2a36da,
         0 5px 0 0 #90d2e6,
        0 5px 0 1px #184a79,
        0 5px 0 2px rgb(9, 11, 41);
    transition-duration: 1s;
}
#textBox{
    padding: 20px;
    position: relative;
    width: max-content;
    float: right;
    animation-name: float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-right: 20px;
    color: white;
}